@use "../../styles/" as *;

#services {
    padding-bottom: 0;
}

.service-title {
    text-align: center;
    font-size: 1rem;
    color: #070038;
    margin-bottom: 1rem;
    @include lg {
        font-size: 2rem;
        margin-bottom: 3rem;
    }
}

.service-header {
    text-align: center;
    position: relative;
    background-color: $primary-color;
    padding: 2.5rem 0;
    border-top: 4px solid #070038;
    border-bottom: 4px solid #070038;
    h1 {
        margin: 0 auto;
        max-width: 26ch;
        font-size: 2rem;
        font-weight: 300;
        color: #070038;
        span {
            font-weight: 700;
        }
        @include lg {
            font-size: 3.5rem;
        }
    }
}

.service-arrow {
    display: none;
    position: absolute;
    top: 2.5rem;
    @include md {
        display: block;
    }
    @include lg {
        top: 3.5rem;
    }
    img {
        width: 4rem;
        height: auto;
        @include lg {
            width: 7rem;
        }
    }
}

.service-main {
    margin-top: 1rem;
    text-align: center;
    @include lg {
        margin-top: 3rem;
    }
    h1 {
        margin: 0;
        text-transform: uppercase;
        font-size: 2rem;
        font-weight: 500;
        color: #070038;
        @include lg {
            font-size: 3.5rem;
        }
    }
}

.service-name {
    margin-top: 1rem;
    color: #070038;
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
    @include md {
        margin-top: 2rem;
        grid-template-columns: repeat(2, 1fr);
        gap: 40px;
        div:nth-child(1) {
            grid-area: 1 / 1 / 2 / 3;
        }
        div:nth-child(2) {
            grid-area: 2 / 1 / 3 / 2;
            margin-right: 4rem;
        }
        div:nth-child(3) {
            grid-area: 2 / 2 / 3 / 3;
            margin-left: 4rem;
        }
    }
}

.services_btn {
    width: 250px;
    text-align: center;
    margin: auto;
    background-color: black;
    transform: rotate(-2deg);
    cursor: pointer;
    @include md {
        width: 200px;
        margin: 0 auto;
    }
}

.services_btn p {
    background-color: #ffffff;
    font-size: 1rem;
    font-weight: 700;
    padding: 0 15px;
    transform: rotate(2deg);
    line-height: 50px;
    margin: 0;
}

.service-img {
    margin-top: 2rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
    @include lg {
        margin-top: 5rem;
    }
}

.service-img1 {
    margin-top: 0;
    @include md {
        margin-top: auto;
    }
    transition: all 400ms ease;
    &:hover {
        transform: translateY(-7px);
    }
}

.service-img2,
.service-img3 {
    transition: all 400ms ease;
    &:hover {
        transform: translateY(-7px);
    }
}

.service-polygon {
    display: flex;
    justify-content: flex-end;
    margin-right: 10rem;
}

.service-list-contain {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    font-family: "Mabry Pro";
    margin-bottom: 5rem;
    @include md {
        gap: 30px;
        flex-direction: row;
    }
}

.service-list {
    width: 20rem;
    position: relative;
    h1 {
        font-weight: 500;
        font-size: 2rem;
        @include lg {
            font-size: 3rem;
        }
    }
    p {
        font-family: "THICCCBOI";
        font-weight: 400;
        line-height: 2.2rem;
        cursor: pointer;
    }
    .service-list-arrow {
        position: absolute;
        top: -34%;
        right: 5%;
        @include lg {
            top: -26%;
        }
    }
}

.service-details {
    max-width: 42ch;
    height: 350px;
    position: relative;
    h1 {
        font-weight: 500;
        font-size: 2rem;
        @include lg {
            font-size: 3rem;
        }
    }
    p {
        font-family: "THICCCBOI";
        font-weight: 400;
        line-height: 2rem;
    }
    button {
        margin-top: 2rem;
    }
    .service-hello-arrow {
        position: absolute;
        bottom: 0%;
        left: 45%;
        @include md {
            bottom: -3%;
            left: 32%;
        }
        img {
            height: 120px;
            @include md {
                height: 150px;
            }
        }
    }
}
.service-svg:nth-child(1) {
    stroke-dasharray: 650px;
    stroke-dashoffset: -650px;
    transition: stroke-dashoffset 800ms ease;
}

.service-list-item:hover .service-svg:nth-child(1) {
    stroke-dashoffset: 0;
}
