@use "./styles/" as *;
@tailwind base;
@tailwind components;
@tailwind utilities;

.services-btn {
    position: relative;
    background: transparent;
    padding-inline: 0.5rem;
    padding-block: 0.25rem;
    cursor: pointer;

    &::after {
        background: black;
        content: "";
        position: absolute;
        left: 2px;
        right: 2px;
        top: 2px;
        bottom: 2px;
        inset: 2px;
        z-index: -10;
        transition: all 0.5s ease-in-out;
    }

    &::before {
        content: "";
        position: absolute;
        left: 2px;
        right: 2px;
        top: 2px;
        bottom: 2px;
        inset: 2px;
        z-index: -8;
        transition: all 0.5s ease-in-out;
        background: white;
    }

    &:hover {
        &::after {
            transform: rotate(-2deg);
        }
        &::before {
            transform: rotate(2deg);
        }
    }
}

@layer base {
    *,
    *::before,
    *::after {
        box-sizing: border-box;
        scroll-behavior: smooth;
        margin: 0;
        padding: 0;
        border: 0;
        outline: 0;
        list-style: none;
        text-decoration: none;
    }

    body {
        font-family: "Mabry Pro", "THICCCBOI", "Russo One",
            sans-serif #{!important};
        background-color: $bg-color;
        font-weight: 400;
    }
    .shadow-lg__left {
        border: 2px solid #000 #{!important};
        transition: all 0.2s ease-in-out #{!important};
        cursor: pointer;
        transform: translateY(-0.5rem);
        box-shadow: -0.3rem 0.3rem 0 0.1rem #000;
        &:is(:hover, :focus) {
            transform: translateY(0);
            box-shadow: none;
        }
    }
    .shadow-lg__right {
        border: 2px solid #000 #{!important};
        transition: all 0.2s ease-in-out #{!important};
        cursor: pointer;
        transform: translateY(-0.5rem);
        box-shadow: 0.3rem 0.3rem 0 0.1rem #000;
        &:is(:hover, :focus) {
            transform: translateY(0);
            box-shadow: none;
        }
    }

    .shadow-lg-item {
        border: 2px solid #000 #{!important};
        box-shadow: 0.3rem 0.3rem 0 0.1rem #000 #{!important};
    }

    .feature-card {
        position: relative;
        &::before {
            content: "";
            position: absolute;
            top: -0.1rem;
            left: -0.1rem;
            right: -0.1rem;
            bottom: -0.1rem;
            transition: all 0.2s ease-in-out #{!important};
            background-color: #000;
            transform: rotate(-4deg);
            z-index: -1;
        }
        &:is(:hover, :focus) {
            &::before {
                transform: rotate(-6deg);
            }
        }
    }

    html,
    body {
        @apply h-full w-full;
    }

    .h1 {
        @apply text-3xl xl:text-[3.15rem] font-medium font-mabry;
    }

    .btn-bark-blue {
        @apply bg-[#070038] text-white font-mabry font-medium text-lg xl:text-2xl py-3 px-4 xl:py-4 xl:px-6;
    }

    .half-container {
        @apply w-full md:max-w-[24rem] lg:max-w-[32rem] xl:max-w-[40rem] 2xl:max-w-[48rem]  py-4;
    }

    .half-container-right {
        @apply px-4 md:pr-8 mx-auto md:mx-0 md:mr-auto;
    }

    .half-container-left {
        @apply px-4 md:pl-8 mx-auto md:mx-0 md:ml-auto;
    }
}
