@use "./styles/" as *;
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    *,
    *::before,
    *::after {
        box-sizing: border-box;
        scroll-behavior: smooth;
        margin: 0;
        padding: 0;
        border: 0;
        outline: 0;
        list-style: none;
        text-decoration: none;
    }

    body {
        font-family: "Mabry Pro", "THICCCBOI", "Russo One",
            sans-serif #{!important};
        background-color: $bg-color;
        font-weight: 400;
    }

    .shadow-lg__left {
        border: 2px solid #000 #{!important};
        transition: all 0.2s ease-in-out #{!important};
        cursor: pointer;
        transform: translateY(-0.5rem);
        box-shadow: -0.3rem 0.3rem 0 0.1rem #000;
        &:is(:hover, :focus) {
            transform: translateY(0);
            box-shadow: none;
        }
    }

    .shadow-lg__right {
        border: 2px solid #000 #{!important};
        transition: all 0.2s ease-in-out #{!important};
        cursor: pointer;
        transform: translateY(-0.5rem);
        box-shadow: 0.3rem 0.3rem 0 0.1rem #000;
        &:is(:hover, :focus) {
            transform: translateY(0);
            box-shadow: none;
        }
    }

    .shadow-lg-item {
        border: 2px solid #000 #{!important};
        box-shadow: 0.3rem 0.3rem 0 0.1rem #000 #{!important};
    }

    .h1 {
        @apply text-3xl xl:text-[3.15rem] font-medium font-mabry;
    }

    .btn-bark-blue {
        @apply bg-[#070038] text-white font-mabry font-medium text-lg xl:text-2xl py-3 px-4 xl:py-4 xl:px-6;
    }

    .feature-card {
        position: relative;
        &::before {
            content: "";
            position: absolute;
            top: -0.1rem;
            left: -0.1rem;
            right: -0.1rem;
            bottom: -0.1rem;
            transition: all 0.2s ease-in-out #{!important};
            background-color: #000;
            transform: rotate(-4deg);
            z-index: -1;
        }
        &:is(:hover, :focus) {
            &::before {
                transform: rotate(-6deg);
            }
        }
    }
}
